1. Write a program which takes array of urls for job-posting websites in Rwanda
   * https://www.jobinrwanda.com/  (Job Adverts)
   * https://www.umucyo.gov.rw  ( Tenders)
2. Web-scrap the content and put them in a pandas data-frame(i.e: the best structured dataframe wins ofcourse!)
3. Use regular expression and key-words to retrieve IT/Software related job/consultancy opportunities(Tenders).
4. Use EasyNMT to display the results in 50+ languages using wrapped state of art models
   * Practical Example for EasyNMT use:
     https://colab.research.google.com/drive/1X47vgSiOphpxS5w_LPtjQgJmiSTNfRNC?usp=sharing
5. Hosting of our work example in colab
   * https://colab.research.google.com/drive/1kAh_Vt1ipA5-BuoaPX39rCIHFrhpcRpW?usp=sharing

## Import Packages

In [3]:
import requests
from bs4 import BeautifulSoup

## Class For Scrapping

In [4]:
class Web_Scrap:
  def __init__(self, link):
    self.url = link
  
  def get_content(self):
    content = requests.get(url = self.url).content
    content = BeautifulSoup(content, 'lxml')
    return content
  
  def get_content_class(self, class_, tag = None):
    content = self.get_content()
    content = content.find_all(class_= class_) if tag == None else content.find_all(tag, class_= class_)
    return content
  
  def get_data(self, year, month, day):
    response = requests.get('{}{}{:02d}{:02d}'.format(self.url, year, month, day))
    return response.json()

  def check_snaps(self, data):
    if data['archived_snapshots']:
      time_stamp = data['timestamp'] 
      time_stamp_closest = data['archived_snapshots']['closest']['timestamp'][:8]
      result = time_stamp == time_stamp_closest
    else: 
      result = False
    return result

  def get_main_links(self):
    links = []
    years = [2021, 2022]
    for year in years:
      for month in range(1, 11):
        for day in range(1, 32):
          data = self.get_data(year, month, day)
          if self.check_snaps(data):
            print(data['archived_snapshots']['closest']['url'])
            links.append(data['archived_snapshots']['closest']['url'])
    return links

In [3]:

# scrap = Web_Scrap(f'https://archive.org/wayback/available?url=https://www.jobinrwanda.com/jobs/all/&timestamp=')
# links = scrap.get_main_links()

# links

### List Of Languages

In [ ]:
langages = {
    'aa': 'Afar',
    'ab': 'Abkhazian',
    'af': 'Afrikaans',
    'ak': 'Akan',
    'sq': 'Albanian',
    'am': 'Amharic',
    'ar': 'Arabic',
    'an': 'Aragonese',
    'hy': 'Armenian',
    'as': 'Assamese',
    'av': 'Avaric',
    'ae': 'Avestan',
    'ay': 'Aymara',
    'az': 'Azerbaijani',
    'ba': 'Bashkir',
    'bm': 'Bambara',
    'eu': 'Basque',
    'be': 'Belarusian',
    'bn': 'Bengali',
    'bh': 'Bihari languages',
    'bi': 'Bislama',
    'bo': 'Tibetan',
    'bs': 'Bosnian',
    'br': 'Breton',
    'bg': 'Bulgarian',
    'my': 'Burmese',
    'ca': 'Catalan; Valencian',
    'cs': 'Czech',
    'ch': 'Chamorro',
    'ce': 'Chechen',
    'zh': 'Chinese',
    'cu': 'Church Slavic; Old Slavonic; Church Slavonic; Old Bulgarian; Old Church Slavonic',
    'cv': 'Chuvash',
    'kw': 'Cornish',
    'co': 'Corsican',
    'cr': 'Cree',
    'cy': 'Welsh',
    'cs': 'Czech',
    'da': 'Danish',
    'de': 'German',
    'dv': 'Divehi; Dhivehi; Maldivian',
    'nl': 'Dutch; Flemish',
    'dz': 'Dzongkha',
    'el': 'Greek, Modern (1453-)',
    'en': 'English',
    'eo': 'Esperanto',
    'et': 'Estonian',
    'eu': 'Basque',
    'ee': 'Ewe',
    'fo': 'Faroese',
    'fa': 'Persian',
    'fj': 'Fijian',
    'fi': 'Finnish',
    'fr': 'French',
    'fy': 'Western Frisian',
    'ff': 'Fulah',
    'Ga': 'Georgian',
    'de': 'German',
    'gd': 'Gaelic; Scottish Gaelic',
    'ga': 'Irish',
    'gl': 'Galician',
    'gv': 'Manx',
    'el': 'Greek, Modern (1453-)',
    'gn': 'Guarani',
    'gu': 'Gujarati',
    'ht': 'Haitian; Haitian Creole',
    'ha': 'Hausa',
    'he': 'Hebrew',
    'hz': 'Herero',
    'hi': 'Hindi',
    'ho': 'Hiri Motu',
    'hr': 'Croatian',
    'hu': 'Hungarian',
    'hy': 'Armenian',
    'ig': 'Igbo',
    'is': 'Icelandic',
    'io': 'Ido',
    'ii': 'Sichuan Yi; Nuosu',
    'iu': 'Inuktitut',
    'ie': 'Interlingue; Occidental',
    'ia': 'Interlingua (International Auxiliary Language Association)',
    'id': 'Indonesian',
    'ik': 'Inupiaq',
    'is': 'Icelandic',
    'it': 'Italian',
    'jv': 'Javanese',
    'ja': 'Japanese',
    'kl': 'Kalaallisut; Greenlandic',
    'kn': 'Kannada',
    'ks': 'Kashmiri',
    'ka': 'Georgian',
    'kr': 'Kanuri',
    'kk': 'Kazakh',
    'km': 'Central Khmer',
    'ki': 'Kikuyu; Gikuyu',
    'rw': 'Kinyarwanda',
    'ky': 'Kirghiz; Kyrgyz',
    'kv': 'Komi',
    'kg': 'Kongo',
    'ko': 'Korean',
    'kj': 'Kuanyama; Kwanyama',
    'ku': 'Kurdish',
    'lo': 'Lao',
    'la': 'Latin',
    'lv': 'Latvian',
    'li': 'Limburgan; Limburger; Limburgish',
    'ln': 'Lingala',
    'lt': 'Lithuanian',
    'lb': 'Luxembourgish; Letzeburgesch',
    'lu': 'Luba-Katanga',
    'lg': 'Ganda',
    'mk': 'Macedonian',
    'mh': 'Marshallese',
    'ml': 'Malayalam',
    'mi': 'Maori',
    'mr': 'Marathi',
    'ms': 'Malay',
    'Mi': 'Micmac',
    'mk': 'Macedonian',
    'mg': 'Malagasy',
    'mt': 'Maltese',
    'mn': 'Mongolian',
    'mi': 'Maori',
    'ms': 'Malay',
    'my': 'Burmese',
    'na': 'Nauru',
    'nv': 'Navajo; Navaho',
    'nr': 'Ndebele, South; South Ndebele',
    'nd': 'Ndebele, North; North Ndebele',
    'ng': 'Ndonga',
    'ne': 'Nepali',
    'nl': 'Dutch; Flemish',
    'nn': 'Norwegian Nynorsk; Nynorsk, Norwegian',
    'nb': 'Bokmål, Norwegian; Norwegian Bokmål',
    'no': 'Norwegian',
    'oc': 'Occitan (post 1500)',
    'oj': 'Ojibwa',
    'or': 'Oriya',
    'om': 'Oromo',
    'os': 'Ossetian; Ossetic',
    'pa': 'Panjabi; Punjabi',
    'fa': 'Persian',
    'pi': 'Pali',
    'pl': 'Polish',
    'pt': 'Portuguese',
    'ps': 'Pushto; Pashto',
    'qu': 'Quechua',
    'rm': 'Romansh',
    'ro': 'Romanian; Moldavian; Moldovan',
    'ro': 'Romanian; Moldavian; Moldovan',
    'rn': 'Rundi',
    'ru': 'Russian',
    'sg': 'Sango',
    'sa': 'Sanskrit',
    'si': 'Sinhala; Sinhalese',
    'sk': 'Slovak',
    'sk': 'Slovak',
    'sl': 'Slovenian',
    'se': 'Northern Sami',
    'sm': 'Samoan',
    'sn': 'Shona',
    'sd': 'Sindhi',
    'so': 'Somali',
    'st': 'Sotho, Southern',
    'es': 'Spanish; Castilian',
    'sq': 'Albanian',
    'sc': 'Sardinian',
    'sr': 'Serbian',
    'ss': 'Swati',
    'su': 'Sundanese',
    'sw': 'Swahili',
    'sv': 'Swedish',
    'ty': 'Tahitian',
    'ta': 'Tamil',
    'tt': 'Tatar',
    'te': 'Telugu',
    'tg': 'Tajik',
    'tl': 'Tagalog',
    'th': 'Thai',
    'bo': 'Tibetan',
    'ti': 'Tigrinya',
    'to': 'Tonga (Tonga Islands)',
    'tn': 'Tswana',
    'ts': 'Tsonga',
    'tk': 'Turkmen',
    'tr': 'Turkish',
    'tw': 'Twi',
    'ug': 'Uighur; Uyghur',
    'uk': 'Ukrainian',
    'ur': 'Urdu',
    'uz': 'Uzbek',
    've': 'Venda',
    'vi': 'Vietnamese',
    'vo': 'Volapük',
    'cy': 'Welsh',
    'wa': 'Walloon',
    'wo': 'Wolof',
    'xh': 'Xhosa',
    'yi': 'Yiddish',
    'yo': 'Yoruba',
    'za': 'Zhuang; Chuang',
    'zh': 'Chinese',
    'zu': 'Zulu',
}

# Scrap `job in rwanda` and `umucyo`

# Challenges #1



1.   Get `Jobs and Consultacies links` for `job in rwanda`

##Links of Jobs

In [86]:
scrap_jobs =  Web_Scrap('https://www.jobinrwanda.com/')

In [87]:
jobs_content = scrap_jobs.get_content()
jobs_links = []
links = jobs_content.find_all('h5', class_='card-title' )
for li in links:
  jobs_links.append('https://www.jobinrwanda.com' + li.parent['href'])

ℹ `jobs_links` Holds the list of all jobs links. you can check the lenght by typing `len(jobs_links)`

## Links of Consultancies

In [88]:
scrap_cons =  Web_Scrap('https://www.jobinrwanda.com/jobs/consultancy')
jobs_content = scrap_cons.get_content()
cons_links = []
links = jobs_content.find_all('h5', class_='card-title' )
for li in links:
  cons_links.append('https://www.jobinrwanda.com' + li.parent['href'])

ℹ `cons_links` Holds the list of all Consultacy links. you can check the lenght by typing `len(cons_links)`

# List of all jobs for Job in rwanda

In [9]:
jobs = jobs_links + cons_links

In [89]:
len(jobs_links)

177



2.   Get `tenders` links for `umucyo`

In [ ]:
scrap_tender = Web_Scrap('https://www.umucyo.gov.rw/eb/bav/selectListAdvertisingListForGU.do')
tender_table = scrap_tender.get_content().find(class_='article_table mb10')

tr = tender_table.find_all('tr')
len(tr)

In [ ]:
tenders_links = []

3. combined links for both `job in rwand` and `umucyo`

In [ ]:
combined_links = []

#Challenge #2

1. Get Content per Link by Web scrapping

In [90]:
# Help Funtions
def remove_space_list(arr):
  joined = []
  for el in arr:
    if el.strip:
      joined.append(el.strip())
  return joined

def clean_data(strs):
  import re
  text = re.sub('\W', ' ', strs)

  return text.strip()

In [ ]:
# Trash
# sumary = [sam for sam in aside.get_text().split('\n') if sam.strip()]

# main.find('div#block-jobsummaryblock')

#  print(d)
#   frame = pd.DataFrame(d, index = [i for i in range(len(d))])
#   # print(dict_summary)

# def remove_space_list(arr):
#   joined = []
#   for el in arr:
#     if el.strip:
#       joined.append(el.lstrip())
#   return joined

# def data_frame_job(jobs):
#   import random

#   dicts ={}
#   asides = []
#   dict_summary = {}

#   for job in jobs:
#     scrap = Web_Scrap(job)
#     main = scrap.get_content().body.main
#     sent = [sent for sent in main.get_text().split('\n') if sent.strip()]
#     aside = scrap.get_content().body
#     asides.append(aside.select_one('div#block-jobsummaryblock'))
    

#     for aside in asides:
#       for a in aside.select('ul.list-group.list-group-flush > li > b'):
#         val = a.next_sibling.strip().split(',')
#         dict_summary[clean_data(a.get_text().strip())] = ' '.join(remove_space_list(val)) if len(val) <= 2 else ', '.join(remove_space_list(val))
#         print(dict_summary)
    
  # return dict_summary

    # frame = pd.DataFrame(dict_summary, index= [i for i in range(len(dict_summary))])
  # return main

2. Save Content in a DataFrame

In [91]:
import random
import pandas as pd
frames = pd.DataFrame()
def data(link):
  dict_summary = {}
  scrap = Web_Scrap(link)
  main = scrap.get_content().body.main
  sent  = [sent for sent in main.get_text().split('\n') if sent.strip()]
  aside = scrap.get_content().body
  aside = aside.select_one('div#block-jobsummaryblock')
  for a in aside.select('ul.list-group.list-group-flush > li > b'):
    val = a.next_sibling.strip().split(',')
    dict_summary[clean_data(a.get_text().strip())] = ' '.join(remove_space_list(val)) if len(val) <= 2 else ', '.join(remove_space_list(val))
  return dict_summary

dicts = []
for job in jobs_links:
  dicts.append(data(job))

In [130]:
col = dicts[0].keys()
values = []
for d in dicts:

  values.append(d.values())
index = [i for i, v in enumerate(values)]

f = pd.DataFrame([value if value != None else 'Not Specified' for value in values ], index = index, columns=col)

In [138]:
def get_job_info(link):
  scrap = Web_Scrap(link)
  cont= scrap.get_content().select("div.card-body.p-2")
  
  return [[clean_data(i) for i in con.get_text().strip().split('\n') if i.strip()] for con in cont]

data = get_job_info('https://www.jobinrwanda.com/')
data[0][0]
new_col = ['Job Title', 'Company','Published Date','Deadline','Desired experience','Job Category']
index = [i for i, v in enumerate(data)]
df = pd.DataFrame(data, index=index, columns=new_col)
df.pop('Deadline')
df.pop('Desired experience')
f.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)
frame = pd.concat([df, f], axis='columns')
frame.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)
frame

,Job Title,Company,Published Date,Job Category,Location,Sector,Education level,Desired experience,Contract type,Deadline,Number of positions
0,Hiring a Firm for BRD Maintenance Assessment,Development Bank of Rwanda BRD,Published on 10 11 2022,Consultancy,RW,Other,Not specified,Not specified,Contract,Friday 25/11/2022 10:00,1
1,Construction du Guichet de Byumba,Reseau Interdiocesain de Microfinance RIM Ltd,Published on 10 11 2022,Tender,RW,Other,Not specified,Not specified,Tender,Monday 21/11/2022 23:59,1
3,Operations Manager,GardaWorld,Published on 03 11 2022,Job,RW,"Administration, Business, Management, Other",Bachelor,Senior (5+ years of experience),Full-time,Monday 14/11/2022 23:59,1
4,Terms of Reference for Production Of the Secon...,UN Women Rwanda,Published on 02 11 2022,Consultancy,RW,"Economics, Other, Social sciences",Master,Senior (5+ years of experience),Contract,Tuesday 15/11/2022 17:00,1
5,Call for Application for Professional Training...,The leadership of Innovative Isiine Training C...,Published on 01 11 2022,Other,RW,Other,Not specified,Not specified,Other,Monday 14/11/2022 23:59,1
...,...,...,...,...,...,...,...,...,...,...,...
167,Store Keeper,ExCraft Ltd,Published on 14 10 2022,Job,RW,Marketing and sales Other,Bachelor,Mid career (3 to 5 years of experience),Full-time,Monday 14/11/2022 23:59,1
168,Rwanda Market Access and SRF MEL Associate,One Acre Fund Kigali,Published on 13 10 2022,Job,Kigali RW,"Agriculture, Business, Demography and data ana...",Bachelor,Entry level (1 to 3 years of experience),Full-time,Tuesday 10/01/2023 23:59,1
171,Consultant to Conduct a Baseline Survey for Ev...,Tubibe Amahoro TA,Published on 03 10 2022,Consultancy,RW,Other,Not specified,Not specified,Contract,Tuesday 15/11/2022 10:00,1
173,Rwanda Potato Seed Venture Lead,One Acre Fund Kigali,Published on 14 09 2022,Job,Kigali RW,"Agriculture, Agronomy, Business, Environmental...",Master,Senior (5+ years of experience),Full-time,Monday 28/11/2022 23:59,1
174,IT Operations Senior Manager,One Acre Fund Kigali,Published on 07 09 2022,Job,Kigali RW,"Agriculture, Business, Computer and IT, Manage...",Not specified,Not specified,Full-time,Tuesday 06/12/2022 23:59,1

# Challenge #3

## Get ***IT/Software*** Opportunities using `Regex`

In [140]:
fr = f.filter(regex=".*Sector.*")
regex = r'Computer and IT'
it_df = frame[frame.Sector.str.match(regex)]

it_df

,Job Title,Company,Published Date,Job Category,Location,Sector,Education level,Desired experience,Contract type,Deadline,Number of positions
29,Product Manager,Ampersand Rwanda Ltd Kigali,Published on 10 11 2022,Job,Kigali RW,"Computer and IT, Management, Project management",Bachelor,Senior (5+ years of experience),Full-time,Tuesday 10/01/2023 23:59,1
122,IT and MIS Director,CHANCEN International Rwanda Kigali,Published on 31 10 2022,Job,Kigali RW,"Computer and IT, Other, Project management",Bachelor,Senior (5+ years of experience),Full-time,Friday 18/11/2022 23:59,1
138,Instructional Technology Assistant,University of Global Health Equity UGHE,Published on 28 10 2022,Job,RW,"Computer and IT, Education, Other",Bachelor,Not specified,Full-time,Monday 28/11/2022 23:59,1

In [ ]:
import json

# Challenge #4

### Display Result In Different Languages

# Challenge #5

## Host the API for the data in colab